home/ipython/**/*.sqlite
home/ipython/**/db
home/ipython/**/log
home/ipython/**/pid
home/ipython/**/security
home/ipython/**/startup/README

home/lein/credentials*

home/netrc

home/ssh/id_rsa*
home/ssh/keys
home/ssh/known_hosts
home/ssh/config_files/local

home/zshrc.d/private.zsh

repl-history
